extends templates/header.pug

block content
  .landing-header
    header(class="container")
        .row
            h1(class="col-xl-4")=Dashboard
        nav(class="col-xl-8 text-right")
            a(class="btn btn-primary" href="login" role="button")="Log In"
            a(class="btn btn-primary" href="registration" role="button")="Registration"
  .landing-page 
    h1="FETA"
    h3="Financial Excellence Tracking Application"
    include templates/toggle.pug