extends templates/header.pug

block content
  include templates/nav.pug
  .statistics-page 
    h1="Statistics"


    h3="Your Net Saving is "+net
    h4=message

    h3="Your Net Income is "+income_sum 
    h3="Your Net Expense is "+expense_sum

    h3="Your Incomes"
    table 
      each income in incomes
        tr=income 
      else 
        tr No incomes 

    h3="Your Expenses"
    table
      each expense in expenses
        tr=expense 
      else 
        tr No expenses

    

