extends templates/header.pug

block content
  include templates/nav.pug
  .statistics-page 
    h1="Statistics"
    include templates/toggle.pug

    h3="Your Net Saving is $"+net
    h4=message

    h3="Your Net Income is $"+income_sum 
    h3="Your Net Expense is $"+expense_sum

    h3="Your Incomes"
    ul 
      each income in incomes
        li=income 
      else 
        li No incomes 

    h3="Your Expenses"
    ul 
      each expense in expenses
        li=expense 
      else 
        li No expenses

    

