extends templates/header.pug

block content
  include templates/nav.pug
  .transaction-page
    h1="Transaction"
    include templates/toggle.pug

    form(class="add-transaction-form" action="/transaction/add" method="post")
      input(type="text" name="type" placeholder="income or expense")
      input(type="text" name="category" placeholder="category")
      input(type="amount" name="amount" placeholder="amount")
      input(type="date" name="date" placeholder="yyyy-mm-dd")
      input(type="note" name="note" placeholder="note")
      input(type="submit" value="Add Transaction")

    table 
      each transaction in transactions 
        tr 
          each field, index in transaction
            if index > 1
              td=field
          td
            form(class="remove-transaction-form" action="/transaction/remove" method="post")
              input(type="hidden" name="ID" value=transaction[0])
              input(type="hidden" name="type" value=transaction[1])
              input(type="hidden" name="category" value=transaction[5])
              input(type="submit" value="Remove")
          td 
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    form(class="edit-transaction-form" action="/transaction/edit" method="post")
                      input(type="hidden" name="ID" value=transaction[0])
                      input(type="hidden" name="type" value=transaction[1])
                      input(type="hidden" name="category" value=transaction[5])
                      input(type="hidden" name="date" placeholder=transaction[3])
                      input(type="hidden" name="note" placeholder=transaction[4])
                      input(type="amount" name="amount" placeholder="amount")
                      input(type="submit" value="Edit")
                  </div>
                </div>
              </div>
            </div>

      else 
        tr No transactions

  