extends templates/header.pug

block content
  include templates/nav.pug
  .transaction-page
    h1 Transactions

    if transactions.length == 0
      .row.spacer
        .summary
          h2.title Begin your FETA experience
          .row.justify-content-center.spacer
            .col
              include templates/add-transaction.pug
    else
      .row.justify-content-center.spacer
        .col-3
          include templates/add-transaction.pug
      .row.spacer
        .col-12
          table.table
            thead 
              th Amount
              th Date
              th Note
              th Category
            each transaction,idx in transactions
              tr 
                each field, index in transaction
                  if index > 1 && index < 6
                    td=field
                td
                  button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target=`#deleteModal${idx}`) Remove
                td
                  button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target=`#editModal${idx}`) Edit
            else
              tr No transactions
    
    if items.length == 0
      .row.spacer
        .summary
          h2.title Did you know, you can track NMT Transactions with FETA? 
          .row.justify-content-center.spacer
            .col
              include templates/add-NMT.pug
    else
      .row.spacer
        .col-12
          h3 NMT Items
          include templates/add-NMT.pug
      .row.spacer
        .col-12
          table.table
            thead 
              th Item 
              th Amount
              th Note
            each item, idx in items 
              tr 
                each field in item 
                  td=field 
                td 
                  button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target=`#addNMTModal${idx}`) Add Transaction
                td
                  button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target=`#editItemModal${idx}`) Edit
                td 
                  button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target=`#deleteItemModal${idx}`) Remove
            else 
              tr No Items
  
    if NMTs.length == 0   
      .row.spacer
        .col-12
          h3 You don't have any NMT Transactions
    else 
      .row.spacer
        .col-12
          h3 NMT Transactions
          table.table
            thead 
              th Amount
              th Date 
              th Note
              th Item
            each NMT,idx in NMTs
              tr 
                each field, index in NMT
                  if index > 0 && index < 5
                    td=field
                td
                  button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target=`#deleteNMTModal${idx}`) Remove
                td
                  button.btn.btn-primary(type="button" data-bs-toggle="modal" data-bs-target=`#editNMTModal${idx}`) Edit
            else 
              tr No NMTs
            
      each transaction, idx in transactions
        .modal.fade(id=`deleteModal${idx}` tabindex="-1" aria-labelledby=`deleteModalLabel${idx}` aria-hidden="true")
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h5(class="modal-title" id="deleteModalLabel") Remove Transaction
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
              .modal-body
                p Are you sure you want to delete this transaction?
                form.remove-transaction-form(action="/transactions/remove" method="post")
                  input(type="hidden" name="ID" value=transaction[0])
                  input(type="hidden" name="type" value=transaction[1])
                  input(type="hidden" name="category" value=transaction[5])
                  input.btn-fancy(type="submit" value="Confirm")
        .modal.fade(id=`editModal${idx}` tabindex="-1" aria-labelledby=`editModalLabel${idx}` aria-hidden="true")
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h5(class="modal-title" id="editModalLabel") Edit Transaction
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
              .modal-body
                form.edit-transaction-form(action="/transactions/edit" method="post")
                  input.form-control(type="hidden" name="ID" value=transaction[0])
                  input.form-control(type="hidden" name="type" value=transaction[1])
                  input.form-control(type="hidden" name="category" value=transaction[5])
                  .mb-3.row
                    .col-3
                      label.col-form-label(for=`amount-${idx}`) Amount
                    .col-9
                      input.form-control(type="text" id=`amount-${idx}` name="amount" value=transaction[2])
                  .mb-3.row
                    .col-3
                      label.col-form-label(for=`date-${idx}`) Date
                    .col-9
                      input.form-control(type="date" id=`date-${idx}` name="date" value=transaction[7])
                  .mb-3.row
                    .col-3
                      label.col-form-label(for=`note-${idx}`) Note
                    .col-9
                      input.form-control(type="text" id=`note-${idx}` name="note" value=transaction[4])
                  input.btn-fancy(type="submit" value="Edit")
      
      each item, idx in items
        .modal.fade(id=`addNMTModal${idx}` tabindex="-1" aria-labelledby=`addNMTModalLabel${idx}` aria-hidden="true")
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h5(class="modal-title" id="addNMTModalLabel") Add NMT Transaction
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
              .modal-body
                form(class="add-NMTtransaction-form" action="/transactions/addNMT" method="post")
                  input(type="hidden" name="item" value=item[0])
                  .mb-3.row
                    .col-3
                      label.col-form-label(for=`amount-${idx}`) Amount
                    .col-9
                      input(type="text" name="amount" placeholder="amount")
                  .mb-3.row
                    .col-3
                      label.col-form-label(for=`date-${idx}`) Date
                    .col-9  
                      input(type="date" name="date" placeholder="yyyy-mm-dd")
                  .mb-3.row
                    .col-3
                      label.col-form-label(for=`note-${idx}`) Note
                    .col-9
                      input(type="text" name="note" placeholder="note")
                  input.btn-fancy(type="submit" value="Add")
        .modal.fade(id=`editItemModal${idx}` tabindex="-1" aria-labelledby=`editItemModalLabel${idx}` aria-hidden="true")
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h5(class="modal-title" id="editItemModalLabel") Edit Item
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
              .modal-body
                form(class="add-NMTtransaction-form" action="/transactions/editItem" method="post")
                  .mb-3.row
                    .col-3         
                      label.col-form-label(for=`name-${idx}`) Name 
                    .col-9    
                      input(type="text" name="name" value=item[0])
                  .mb-3.row
                    .col-3
                      label.col-form-label(for=`amount-${idx}`) Amount
                    .col-9
                      input(type="text" name="amount" value=item[1])
                  .mb-3.row
                    .col-3
                      label.col-form-label(for=`note-${idx}`) Note
                    .col-9
                      input(type="text" name="note" value=item[2])
                  input.btn-fancy(type="submit" value="Edit")
        .modal.fade(id=`deleteItemModal${idx}` tabindex="-1" aria-labelledby=`deleteItemModalLabel${idx}` aria-hidden="true")
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h5(class="modal-title" id="deleteItemModalLabel") Remove Item
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
              .modal-body
                h3="Are you sure you want to delete this NMT item?"
                form(class="remove-NMTtransaction-form" action="/transactions/removeItem" method="post")
                  input(type="hidden" name="name" value=items[0])
                  input.btn-fancy(type="submit" value="Confirm")
      
      each NMT,idx in NMTs  
        .modal.fade(id=`deleteNMTModal${idx}` tabindex="-1" aria-labelledby=`deleteNMTModalLabel${idx}` aria-hidden="true")
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h5(class="modal-title" id="deleteNMTModalLabel") Remove NMT Transaction
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
              .modal-body
                h3="Are you sure you want to delete this NMT Transaction?"
                form(class="remove-NMTtransaction-form" action="/transactions/removeNMT" method="post")
                  input(type="hidden" name="item" value=NMT[4])
                  input(type="hidden" name="ID" value=NMT[0])
                  input.btn-fancy(type="submit" value="Confirm")
        .modal.fade(id=`editNMTModal${idx}` tabindex="-1" aria-labelledby=`editModalLabel${idx}` aria-hidden="true")
          .modal-dialog.modal-dialog-centered
            .modal-content
              .modal-header
                h5(class="modal-title" id="editModalLabel") Edit NMT Transaction
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
              .modal-body
                form(class="edit-transaction-form" action="/transactions/editNMT" method="post")
                  input(type="hidden" name="item" value=NMT[4])
                  input(type="hidden" name="ID" value=NMT[0])
                  input(type="hidden" name="date" value=NMT[6])
                  input(type="hidden" name="note" value=NMT[3])
                  .row
                    .col-3
                      label.col-form-label(for=`amount-${idx}`) Amount
                    .col-9
                      input(type="text" name="amount" value=NMT[1])
                  input.btn-fancy(type="submit" value="Edit")
